@import url('../../_shared/common.css');

:root {
	--red: #ffffff;
	--blue: #ffffff;
	--miss: #ec5e5e;
}

body,
html {
	padding: 0;
	margin: 0;
	overflow-y: hidden;
}

#main {
	position: relative;
}

#full-overlay {
	--border: 0px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	width: calc(100vw - 2 * var(--border));
	height: calc(100vh - var(--border));
	/* background-color: var(--background); */
	transition: background-color 100ms cubic-bezier(0, 1, 0.4, 1);
	border-style: dashed;
	border-color: #52545e;
	border-width: var(--border) var(--border) 0 var(--border);
}

.name {
	color: var(--foreground);
	font-family: 'Cascadia Mono';
	font-size: 32px;
	font-weight: 800;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	transform-origin: top left;
	transition: all 100ms cubic-bezier(0, 1, 0.4, 1);
	padding: 8px 12px;
	text-shadow: 0 2px 24px rgba(0, 0, 0, 1);
}
